﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>
    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="OUT" />
    </form>
}
else
{
    <a asp-controller="Account" asp-action="Login">Login</a>
    @Html.ActionLink("Regisster","Register","Account")
}


