﻿@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "AllRoles";
}

<h1>AllRoles</h1>

<table class="table">
    @foreach (Microsoft.AspNetCore.Identity.IdentityRole role in Model)
    {
        <tr>
            <td>@role.Name</td>
            <td>
                <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
    }
</table>
<a asp-action="Create">Add Role | </a>
<a asp-action="UserList">Users</a>
<a asp-action="UserListFiltered"> | Filtered</a>

