﻿@model string
@{
    ViewData["Title"] = "Create";
}
<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="Name">New Role</label>
        <input name="Name" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>


