﻿@using Microsoft.AspNetCore.Identity
@model VIIS.Web.ViewModels.ChangeRoleViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit @Model.userEmail Roles</h1>
<form asp-action="Edit" method="post">
    <input type="hidden" name="userId" value="@Model.UserId" />
    <div class="form-group">
        @foreach (IdentityRole role in Model.Roles)
        {
            <input type="checkbox" name="roles" value="@role.Name" @(Model.UserRoles.Contains(role.Name)?"checked=\"checked\"" :"")/>@role.Name<br />
        }
    </div>
    <button type="submit" class="btn btn-info">Save</button>
</form>

