﻿@model IEnumerable<VIIS.Web.Models.User>
@{
    ViewData["Title"] = "UserList";
}


<table class="table">
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>@user.Age</td>
            <td>
                <a class="btn btn-primary" asp-action="Edit"asp-route-userid="@user.Id">User Role</a>
            </td>
        </tr>
    }
</table>