﻿@model VIIS.Web.ViewModels.UserListViewModel


<form method="get">
    <div class="form-inline form-group">
        <label class="control-label">Email  </label>
        <input name="Email" class="form-control" />
        <input type="submit" value="Search" class="btn btn-info "/>
    </div>
</form>

    <table class="table">
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.Age</td>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-userid="@user.Id">User Role</a>
                </td>
            </tr>
        }
    </table>
