﻿@model IEnumerable<VIIS.Web.Models.User>
@{
    ViewData["Title"] = "AdminOffice";
}

<h1>AdminOffice</h1>

<a class="btn btn-primary" asp-action="CreateNewUser">Create</a>
<table class="table">
    <tr><th>Email</th><th>Age</th><th>Name</th><th></th></tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>@user.Age</td>
            <td>@user.UserName</td>
            <td>
                <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                    <a class="btn btn-primary" asp-action="EditUser" asp-route-id="@user.Id">EDIT</a>
                    <button type="submit" class="btn btn-danger">DELETE</button>
                </form>
            </td>
        </tr>
    }
</table>