﻿@model VIIS.Web.ViewModels.CreateUserViewMoel
@{
    ViewData["Title"] = "CreateNewUser";
}

<h1>CreateNewUser</h1>

<form asp-action="CreateNewUser" asp-controller="Users">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Email" class="control-label">Email</label>
        <input type="text" asp-for="Email" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Password" class="control-label">Password</label>
        <input type="password" asp-for="Password" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Age" class="control-label">Age</label>
        <input type="number" asp-for="Age" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Add"class="btn btn-info" />
    </div>
</form>